
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 opaque1">
<h2>Crea un entrenador</h2>
<form action="/Entrenador/CrearEntrenador" method="post">

  <div class="form-group">
    <label>Nombres</label>
    <input type="text" class="form-control" placeholder="Ingrese su nombre" name="nombres">
  </div>

  <div class="form-group">
    <label>Fecha inicio</label>
    <input type="date" class="form-control"  id="datePicker" name="fechaInicio" >
  </div>
  <div class="form-group">
    <label>Region</label>
    <select class="form-control" id="exampleSelect1" name="region">
      <option>Alola</option>
      <option>Johto</option>
      <option>Kanto</option>
      <option>Hoenn</option>
      <option>Teselia</option>
      <option>Sinnoh</option>
      <option>Kalos</option>
      <option>Islas</option>
      <option>Sete</option>
    </select>
  </div>
  <!--

      <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Ingrese su password"  name="password">
      </div>
  -->

  <button type="submit" class="btn btn-success">Crear Entrenador :)</button>

</form>
    <br>
<script src="/bootstrap/js/codigo.js"></script>
  </div>
    <div class="col-sm-4"></div>
</div>
  </div>
