<div class="row">
  <div class="col-sm-1"> </div>
  <div class="col-sm-4 opaque1">
<h1>Bienvenidos</h1>
  </div>
</div>
<br>
<div row>
  <div class="col-sm-1"> </div>
  <div class="jumbotron col-sm-4" style="background-color: rgba(54, 25, 25, .5); color: white;">
    <h1>Entrenadores</h1>
    <p>Registrar Entrenadores</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearEntrenador" role="button">Crear Entrenador</a> <a class="btn btn-primary btn-lg" href="/ListarEntrenadores" role="button">Listar Entrenadores</a> </p>
  </div>
  <div class="col-sm-2"> </div>
  <div class="jumbotron col-sm-4" style="background-color: rgba(54, 25, 25, .5); color: white;">
    <h1>Pokémon</h1>
    <p>Registrar Pokémon</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearPokemon" role="button">Crear Pokémon</a> <a class="btn btn-primary btn-lg" href="/ListarPokemon" role="button">Listar Pokémon</a> </p>
  </div>
  <div class="col-sm-1"> </div>

</div>
